.main-form {
    /*border: 1px solid rgba(17, 5, 5, 0.15);*/
}
.galery {
    position: relative;
    border: 1px solid gray;
    /*border-radius: 15px;*/
    margin-top: 20px;
    padding: 5px;
    box-shadow: 2 3px 9px rgba(0, 0, 0, 0.5);
}
.galery:hover {
    background-color: lightskyblue;
}
.main-form img {
    position: relative;
    width: 100%;
}
.form-content {
    position: relative;
    padding: 22px;
    border: 1px solid rgba(7, 2, 2, 0.28);
    border-radius: 15px;
    background-color: rgba(226, 226, 226, 0.77);
}

body{
background: url('../img/whitey.png');
}
  .main-content{
      position: relative;
      border: 1px solid rgba(7, 2, 2, 0.28);
      padding: 22px;
      margin-top: 25px;
      border-radius: 15px;
      background-color: rgba(226, 226, 226, 0.77);
  }
.imgproject {
    width: 48px;
    height: 26px;
}

.innerlogo{
    padding-top: 9px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
    max-height: 354px;
}
.view-form img{
    position: relative;
    width: 100%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(17, 5, 5, 0.99);
}

.list{
    text-align: right;
}
 .geomap{
     box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
     border: 1px solid rgba(17, 5, 5, 0.99);
 }

 #feat{
     height: 100%;
     width: 50%;
 }

.captcha{
    width: 25%;
}

.navbar-nav > .active > a {
    color: #555555;
    background-color: rgba(236, 236, 236, 0);
    color: #29a9df;
    text-decoration: none;
    border-bottom: 2px solid #29a9df;
    width: auto;
}


hr{
    border-top: 1px solid rgba(41, 34, 34, 0.16);
}

 .project-price-detail{
     MARGIN-TOP: 35PX;
 }

 .main{
     background-color:#eeeeee;
 }

#mainNav{
    margin-bottom: 0px;
    background-color: #eeeeee;
}

.glyphicon{
    font-size: 16px;
}

.header{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 46px;
}

a{
 color: #000000;
}

li a{
   color: #000000;
    font-size:14px ;
}
.rs-detail {
    margin: 100px 0 0 7px;
    /*border-top-width:80 ;*/
    font-size: 14px;
}
.narrow-container {
    color: rgb(209, 209, 209);
    margin-top: 46px;
    /*margin-left:90px;*/
    max-width: 1000px;
    padding-top: 24px;
}
.footer
{
    margin-top: 66px;
    height: 80px;
    background-color: #000000;
}

.view{
    color:green;
    font-size: 15px;
}

.main{
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
}

.main li a{
    color: white;
}
