.main-form {
    border: 1px solid rgba(17, 5, 5, 0.15);
}
.galery {
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 10px;
}
.galery:hover {
    background-color: lightskyblue;
}
.main-form img {
    width: 100%;
}
.rs-detail {
    margin: 130px 0 0 7px;
    border-top: #cccccc 1px solid;
    border-top-width:80 ;
    font-size: 12px;
}
.form-content {
    position: relative;
    padding: 22px;
    border: 1px solid rgba(7, 2, 2, 0.28);
}

body{
background: url('../img/whitey.png');
}
  .main-content{
      border: 1px solid rgba(7, 2, 2, 0.28);
      position: relative;
      padding: 22px;
      margin-top: 25px;
  }
.imgproject {
    width: 48px;
    height: 26px;
}
.project-price-detail{
    margin: 145px 0 0 7px;
    border-bottom: rgba(22, 3, 3, 0.37) 1px solid;
}
.innerlogo{
    padding-top: 9px;
}
.price{
    color: red;
}

.proertyleft{
    padding: 31px;
    font-size: 14px;
}

.divider {
    height: 1px;
    position: relative;
    margin: 13px 0;
    background-color: rgba(39, 34, 34, 0.43);
    margin-top: 50px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: 100%;
    max-height: 354px;
}
.view-form img{
    width: 100%;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(17, 5, 5, 0.99);
}

.list{
    text-align: right;
}
 .geomap{
     box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
     border: 1px solid rgba(17, 5, 5, 0.99);
 }

 #feat{
     height: 100%;
     width: 50%;
 }

.captcha{
    width: 25%;
}

.view{
    color: red;
    font-size: 14px;
}

